<section class="rutas-page">
  <header class="rutas-header">
    <h1>La Serena · Extremadura</h1>
    <p>
      La Serena es una de las comarcas más extensas y singulares de Extremadura,
      caracterizada por sus amplias llanuras, dehesas y paisajes abiertos de
      gran valor ecológico. Conocida por su tradición ganadera, su patrimonio
      histórico y arqueológico, y sus antiguos caminos trashumantes, ofrece
      rutas de senderismo tranquilas y accesibles, ideales para disfrutar de la
      naturaleza, la historia y la vida rural durante todo el año.
    </p>
  </header>

  <!-- Mapa general -->
  <div class="map-container">
    <iframe
      src="https://www.google.com/maps?q=La%20Siberia%20Badajoz&output=embed"
      loading="lazy"
    >
    </iframe>
  </div>

  <!-- Rutas -->
  <section class="rutas">
    @for (ruta of rutas; track ruta.nombre) {
    <article class="ruta-card">
      <img [src]="ruta.imagen" [alt]="ruta.nombre" />

      <div class="ruta-info">
        <h3>{{ ruta.nombre }}</h3>

        <ul>
          <li><strong>Salida:</strong> {{ ruta.salida }}</li>
          <li><strong>Llegada:</strong> {{ ruta.llegada }}</li>
          <li><strong>Distancia:</strong> {{ ruta.km }} km</li>
          <li><strong>Duración:</strong> {{ ruta.duracion }}</li>
          <li><strong>Dificultad:</strong> {{ ruta.dificultad }}</li>
          <li><strong>Tipo:</strong> {{ ruta.tipo }}</li>
        </ul>

        <div class="ruta-links">
          <a
            class="maps"
            [attr.href]="ruta.maps"
            target="_blank"
            rel="noopener noreferrer"
          >
            Google Maps
          </a>

          <a
            class="wikiloc"
            [attr.href]="ruta.wikiloc"
            target="_blank"
            rel="noopener noreferrer"
          >
            Wikiloc
          </a>
        </div>
      </div>
    </article>
    }
  </section>
</section>
