<div class="admin-container">
  <h2>Panel Admin - Rutas</h2>

  <!-- FORM -->
  <form (ngSubmit)="guardarRuta()">
    <input
      [(ngModel)]="nuevaRuta.nombre"
      name="nombre"
      placeholder="Nombre"
      required
    />
    <select [(ngModel)]="nuevaRuta.zona" name="zona" required>
      <option value="">Selecciona zona</option>

      <option value="valenciaDeAlcantara">Valencia de Alcántara</option>
      <option value="sierraDeGata">Sierra de Gata</option>
      <option value="jerte">Valle del Jerte</option>
      <option value="laVera">La Vera</option>
      <option value="caceres">Cáceres</option>
      <option value="badajoz">Badajoz</option>
    </select>
    <input [(ngModel)]="nuevaRuta.salida" name="salida" placeholder="Salida" />
    <input
      [(ngModel)]="nuevaRuta.llegada"
      name="llegada"
      placeholder="Llegada"
    />
    <input [(ngModel)]="nuevaRuta.km" name="km" placeholder="Km" />
    <input
      [(ngModel)]="nuevaRuta.duracion"
      name="duracion"
      placeholder="Duración"
    />
    <!--
     <select [(ngModel)]="nuevaRuta.zona" name="zona" required>
      <option value="">Selecciona zona</option>

      <option value="valenciaDeAlcantara">Valencia de Alcántara</option>
      <option value="sierraDeGata">Sierra de Gata</option>
      <option value="jerte">Valle del Jerte</option>
      <option value="laVera">La Vera</option>
      <option value="caceres">Cáceres</option>
      <option value="badajoz">Badajoz</option>
    </select> -->
    <select [(ngModel)]="nuevaRuta.dificultad" name="dificultad" required>
      <option value="">Selecciona dificultad</option>
      <option value="facil">Fácil</option>
      <option value="media">Media</option>
      <option value="dificil">Difícil</option>
    </select>

    <select [(ngModel)]="nuevaRuta.tipo" name="tipo" required>
      <option value="" disabled selected>Selecciona tipo</option>
      <option value="solo_ida">Solo ida</option>
      <option value="ida_vuelta">Ida y vuelta</option>
      <option value="circular">Circular</option>
    </select>

    <input
      [(ngModel)]="nuevaRuta.imagen"
      name="imagen"
      placeholder="URL Imagen"
    />
    <input
      [(ngModel)]="nuevaRuta.maps"
      name="maps"
      placeholder="Link Google Maps"
    />
    <input
      [(ngModel)]="nuevaRuta.wikiloc"
      name="wikiloc"
      placeholder="Link Wikiloc"
    />

    <button type="submit">
      {{ editando ? "Actualizar" : "Crear" }}
    </button>

    <button type="button" (click)="resetForm()" *ngIf="editando">
      Cancelar
    </button>
  </form>

  <!-- LISTA -->
  <div class="rutas-list">
    <div class="ruta-card" *ngFor="let ruta of rutas">
      <h3>{{ ruta.nombre }}</h3>
      <p>{{ ruta.zona }}</p>
      <p>{{ ruta.descripcion }}</p>
      <p>{{ ruta.salida }}</p>
      <p>{{ ruta.llegada }}</p>
      <p>{{ ruta.km }}</p>
      <p>{{ ruta.duracion }}</p>
      <p>{{ ruta.dificultad }}</p>
      <p>{{ ruta.tipo }}</p>
      <p>{{ ruta.imagen }}</p>
      <p>{{ ruta.maps }}</p>
      <p>{{ ruta.wikiloc }}</p>

      <button (click)="editarRuta(ruta)">Editar</button>
      <button (click)="eliminarRuta(ruta._id)">Eliminar</button>
    </div>
  </div>
</div>
