<header class="header">
  <div class="header-container">
    <!-- LOGO -->
    <div class="logo">
      <h1 routerLink="/">ExtreRutas</h1>
    </div>

    <!-- MENÚ CENTRAL -->
    <nav class="nav-center">
      <a
        routerLink="/"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        >Inicio</a
      >
      <a routerLink="/rutas" routerLinkActive="active">Rutas</a>
      <a routerLink="/zonas" routerLinkActive="active">Zonas</a>
      <a routerLink="/clima" routerLinkActive="active">Clima</a>
      <a routerLink="/info" routerLinkActive="active">Info</a>
    </nav>

    <!-- LOGIN DERECHA -->
    <div class="nav-right">
      <!-- NO LOGUEADO -->
      <ng-container *ngIf="!usuario">
        <a routerLink="/login" class="login">Iniciar sesión</a>
        <a routerLink="/register" class="register">Crear cuenta</a>
      </ng-container>

      <!-- LOGUEADO -->
      <ng-container *ngIf="usuario">
        <span class="user">👤 {{ usuario.nombre }}</span>

        <!-- 👇 SOLO ADMIN -->
        <a *ngIf="usuario.role === 'admin'" routerLink="/admin" class="admin">
          Panel Admin
        </a>

        <a (click)="logout()" class="logout">Salir</a>
      </ng-container>
    </div>
  </div>
</header>
